.generator_slider-left, .generator_slider-right{
    margin-bottom: 5px;
    width: 50%;
    color: rgb(190, 190, 190);
    font-size: 18px;
}

.generator_slider-left{
    float: left;
    text-align: left;

}

.generator_slider-right{
    float: right;
    text-align: right;
}